{
    "extends": "airbnb",
    "installedESLint": true,
    "plugins": [
        "react"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
      "react": {
        "pragma": "React",  // Pragma to use, default to "React"
        "version": "15.0" // React version, default to the latest React stable release
      }
    },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "no-unused-vars" :  ["off"]
  }
}